roles/letsencrypt
roles/loadbalancer
roles/loadbalancer_logs
roles/loadbalancer_update
roles/loadbalancer_vhost

roles/telegraf/templates/loadbalancer_logs/geometrics/geoip
roles/telegraf/templates/loadbalancer_logs/geometrics/*.tar.gz

roles/nuxt-setup-project
roles/laravel-project
laravel-project.yml