[NGINX_LOG]
logpath = /var/log/nginx/access.log

[GEOIP]
geoipdb = ./geoip/GeoLite2-City.mmdb

[INFLUXDB]
# Database URL
host = 10.130.102.70 # ip private address monitoring server
port = 8086

#Database name
database = picasso_metrics_db

# HTTP Auth
username = "admin"
password = "ZPgcUexDJRDUsGCxrAMgwditmnJvqO"

#  Measurement name
measurement = geodata
