#! /usr/bin/env bash

WORKDIR=$(pwd)

echo ""
echo "Creating virtual ENV and installing requirements..."
sleep 1
virtualenv venv && source venv/bin/activate

pip install -r requirements.txt

./service.py && deactivate

echo ""
echo "All done, now you can start getting service status data from your log"
echo "Good Luck !"
